.clx-body{
    font-size: calc((1vw + 1vh)/2);
    overflow: hidden;
    border-radius: .5em;
    border: .1em solid white;
    outline: .2em solid black;
}
.clx-header{
    width: 100%;
    padding-top: 7%;
    background-color: black;
    box-sizing: border-box;
    position: relative;
}
.clx-format, .clx-comparison{
    position: absolute;
    top: 0;
    bottom: 0;
    overflow: hidden;
}
.clx-format{
    left: 0;
    right: 30%;
}
.clx-select-format, .clx-input-format{
    background-color: black;
    border: none;
    outline: none;
    text-transform: uppercase;
    font-size: .9em;
    font-weight: bold;
    transition: color .5s;
}
.clx-select-format{
    /* -webkit-appearance: none; */
    float: left;
    width: 25%;
    height: 100%;
    text-align: center;
    cursor: pointer;
}
.clx-input-format{
    float: right;
    letter-spacing: .12em;
    width: 68%;
    height: 45%;
    margin: 2.5%;
    color: red;
}
.clx-comparison{
    right: 1.25%;
    left: 78%;
}
.clx-focused, .clx-selected{
    width: 45%;
    height: 65%;
    margin: 5% 0; 
    border-radius: .12em;
    border: .1em solid white;
    border-radius: border-box;
}
.clx-focused{
    background-color: red;
    float: left;
}
.clx-selected{
    background-color: red;
    float: right;
}